%h1 Listing articles


%ul
  - @articles.each do |article|
    %li= link_to article.title, article
    = link_to 'Edit', edit_article_path(article)
    = link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %br
    = article.tags


= link_to 'New Article', new_article_path, :class => "btn btn-primary"
